# General code
* @recmo @lucasege @worldcoin/crypto

# CI
.github @remco @worldcoin/crypto

# CD
.github/workflows/cd.yml @worldcoin/infrastructure @worldcoin/crypto
deploy/ @worldcoin/infrastructure @worldcoin/crypto
