[package]
# Please adjust all these values, including the license
name = "rust-app-template"
version = "0.1.0"
authors = ["Remco Bloemen <remco@wicked.ventures>"]
edition = "2018"
build = "build.rs"
homepage = "https://github.com/Recmo/rust-app-template"
repository = "https://github.com/Recmo/rust-app-template"
description = "Template for a Rust CLI tool"
keywords = ["template"]
categories = ["template"]
readme = "Readme.md"
license-file = "mit-license.md"

[features]
default = []
bench = [ "criterion", "proptest" ]

[[bin]]
name = "rust-app"
path = "src/cli/main.rs"

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = [ "bench", "proptest" ]

[dependencies]
anyhow = "1.0"
criterion = { version = "0.3", optional = true }
ethers = "0.5.4"
futures = "0.3"
hex = "0.4.3"
hyper = { version = "0.14", features = [ "full" ] }
itertools = "0.10"
merkletree = "0.21"
mimalloc = { version = "0.1", default-features = false, optional = true }
num_cpus = "1.13"
once_cell = "1.8"
prometheus = { version = "0.13", features = [ "process" ] }
proptest = { version = "1.0", optional = true }
rust-crypto = "0.2"
serde = "1.0"
serde_json = "1.0"
smallvec = { version = "1.6", features = [ "serde" ] }
structopt = "0.3"
thiserror = "1.0"
tokio = { version = "1.0", features = [ "full" ] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = "0.2"
tracing-test = "0.1"
url = "2.2"

[dev-dependencies]
criterion = { version = "0.3", features = [ "async_tokio" ] }
pretty_assertions = "1.0"
proptest = { version = "1.0" }

[build-dependencies]
anyhow = "1.0"
chrono = "0.4"
ethers = "0.5.4"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
