[package]
# Please adjust all these values, including the license
name = "signup-sequencer"
version = "0.1.0"
authors = [
    "Remco Bloemen <remco@worldcoin.org>",
    "Lucas Ege <lucas@worldcoin.org>"]
edition = "2021"
build = "build.rs"
homepage = "https://github.com/worldcoin/signup-sequencer"
repository = "https://github.com/worldcoin/signup-sequencer"
description = "Template for a Rust CLI tool"
keywords = ["worldcoin", "protocol", "signup"]
categories = ["cryptography::cryptocurrencies"]
readme = "Readme.md"
license-file = "mit-license.md"

[features]
default = [ ]
bench = ["criterion", "proptest"]
mimalloc = ["cli-batteries/mimalloc"]

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = ["bench", "proptest"]

[dependencies]
anyhow = "1.0.68"
async-stream = "0.3.3"
async-trait = "0.1.60"
chrono = "0.4.19"
clap = { version = "4.1", features = [ "derive" ] }
cli-batteries = { version = "0.4.0", features = [ "signals", "prometheus", "metered-allocator", "otlp" ] }
criterion = { version = "0.4", optional = true, features = [ "async_tokio" ] } # For `bench`
ethers = { version = "1.0.0", features = [ "ws", "ipc", "openssl", "abigen" ] }
eyre = "0.6"
futures = "0.3"
futures-util = { version = "^0.3" }
hyper = { version = "^0.14.17", features = [ "server", "tcp", "http1", "http2" ] }
once_cell = "1.8"
prometheus = "0.13.3" # We need upstream PR#465 to fix #272.
proptest = { version = "1.0", optional = true } # For `bench`
reqwest = "0.11.10"
ruint = { version = "1.3", features = ["primitive-types", "sqlx"] }
semaphore = { git = "https://github.com/worldcoin/semaphore-rs", branch = "main" }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
sqlx = { version = "0.6", features = [ "runtime-tokio-native-tls", "any", "sqlite", "postgres" ] }
thiserror = "1.0"
tokio = { version = "1.17", features = [ "signal", "macros", "rt", "sync", "time", "rt-multi-thread", "tracing" ] }
tracing = "0.1"
tracing-futures = "0.2"
url = "2.2"
# `ethers-rs` requires an older version of primitive-types.
# But `ruint` supports the latest version. So we need to override it.
# `cargo update --package primitive-types@0.12.1 --precise 0.11.1`

[dev-dependencies]
cli-batteries = { version = "0.4.0", features = [ "mock-shutdown" ] }
hex = "0.4.3"
hex-literal = "0.3"
proptest = { version = "1.0" }
serial_test = { version = "0.10.0" }
tracing-subscriber = "0.3.11"
tracing-test = "0.2"

[build-dependencies]
cli-batteries = "0.4.0"

[profile.release]
panic = "abort"
overflow-checks = true
codegen-units = 1
lto = true
strip = true

[profile.dev]
panic = "abort"

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
