[package]
# Please adjust all these values, including the license
name = "signup-sequencer"
version = "0.1.0"
authors = [
    "Remco Bloemen <remco@worldcoin.org>",
    "Lucas Ege <lucas@worldcoin.org>"]
edition = "2021"
build = "build.rs"
homepage = "https://github.com/worldcoin/signup-sequencer"
repository = "https://github.com/worldcoin/signup-sequencer"
description = "Template for a Rust CLI tool"
keywords = ["worldcoin", "protocol", "signup"]
categories = ["cryptography::cryptocurrencies"]
readme = "Readme.md"
license-file = "mit-license.md"

[features]
default = []
bench = [ "criterion", "proptest" ]

[[bin]]
name = "rust-app"
path = "src/cli/main.rs"

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = [ "bench", "proptest" ]

[dependencies]
color-eyre = "0.5"
console-subscriber = "0.1"
criterion = { version = "0.3", optional = true, features = [ "async_tokio" ] }
ethers = "0.6"
eyre = "0.6"
ff = { package="ff_ce", version="0.11"}
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.3"
hyper = { version = "0.14", features = [ "server", "tcp", "http2" ] }
itertools = "0.10"
mimalloc = { version = "0.1", default-features = false, optional = true }
num_cpus = "1.13"
once_cell = "1.8"
poseidon-rs = "0.0.8"
prometheus = { version = "0.13", features = [ "process" ] }
proptest = { version = "1.0", optional = true }
serde = "1.0"
serde_json = "1.0"
smallvec = { version = "1.6", features = [ "serde" ] }
structopt = "0.3"
thiserror = "1.0"
tokio = { version = "1.15", features = [ "signal", "macros", "rt", "sync", "time", "rt-multi-thread", "tracing" ] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = [ "env-filter", "json" ] }
tracing-test = "0.2"
url = "2.2"
users = "0.11"
zkp-u256 = "0.2"

[dev-dependencies]
pretty_assertions = "1.0"
proptest = { version = "1.0" }
tempfile = "3.0"

[build-dependencies]
chrono = "0.4"
eyre = "0.6"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
overflow-checks = true

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
