[package]
# Please adjust all these values, including the license
name = "signup-sequencer"
version = "0.1.0"
authors = [
    "Remco Bloemen <remco@worldcoin.org>",
    "Lucas Ege <lucas@worldcoin.org>"]
edition = "2021"
build = "build.rs"
homepage = "https://github.com/worldcoin/signup-sequencer"
repository = "https://github.com/worldcoin/signup-sequencer"
description = "Template for a Rust CLI tool"
keywords = ["worldcoin", "protocol", "signup"]
categories = ["cryptography::cryptocurrencies"]
readme = "Readme.md"
license-file = "mit-license.md"

[features]
default = [ "postgres" ]
bench = [ "criterion", "proptest" ]
postgres = [ "sqlx/postgres" ]
sqlite = [ "sqlx/sqlite" ]
mimalloc = [ "cli-batteries/mimalloc" ]

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = [ "bench", "proptest" ]

[dependencies]
async-trait = "0.1.53"
cli-batteries = { version = "0.3.3", features = [ "signals", "prometheus", "metered-allocator", "otlp" ] }
# ethers = { git = "https://github.com/gakonst/ethers-rs.git", branch = "master", rev = "4d99165", features = [ "ws", "ipc", ]  }
ethers = { git = "https://github.com/recmo/ethers-rs.git", rev = "e6ce346", features = [ "ws", "ipc", "openssl", "abigen" ]  }
eyre = "0.6"
futures = "0.3"
hyper = { version = "^0.14.17", features = [ "server", "tcp", "http1", "http2" ] }
once_cell = "1.8"
prometheus = "0.13"
semaphore = { git = "https://github.com/worldcoin/semaphore-rs", branch = "main" }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
clap = { version = "3.2", features = [ "derive" ] }
thiserror = "1.0"
tokio = { version = "1.17", features = [ "signal", "macros", "rt", "sync", "time", "rt-multi-thread", "tracing" ] }
tracing = "0.1"
tracing-futures = "0.2"
url = "2.2"
sqlx = { version = "0.5", features = [ "runtime-tokio-native-tls", "any" ] }
chrono = "0.4.19"
reqwest = "0.11.10"
ruint = { version = "1.3", features = ["primitive-types", "sqlx"] }

# Build dependencies required for `cargo criterion`, so really more `dev-deps`.
proptest = { version = "1.0", optional = true }
criterion = { version = "0.3", optional = true, features = [ "async_tokio" ] }

[dev-dependencies]
cli-batteries = { version = "0.3.1", features = [ "mock-shutdown" ] }
proptest = { version = "1.0" }
tempfile = "3.0"
tracing-test = "0.2"
tracing-subscriber = "0.3.11"
hex = "0.4.3"
hex-literal = "0.3"

[build-dependencies]
cli-batteries = "0.3.1"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
overflow-checks = true
strip = true

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
