[package]
name = "signup-sequencer"
version = "0.2.0"
authors = [
    "Remco Bloemen <remco@worldcoin.org>",
    "Lucas Ege <lucas@worldcoin.org>"]
edition = "2021"
build = "build.rs"
homepage = "https://github.com/worldcoin/signup-sequencer"
repository = "https://github.com/worldcoin/signup-sequencer"
description = "A tool that processes WorldID signups on-chain."
keywords = ["worldcoin", "protocol", "signup"]
categories = ["cryptography::cryptocurrencies"]
readme = "Readme.md"
license-file = "mit-license.md"

[workspace]
members = ["crates/*"]

[features]
default = []
oz-provider = ["oz-api"]
bench = ["criterion", "proptest"]
mimalloc = ["cli-batteries/mimalloc"]

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = ["bench", "proptest"]

[dependencies]
anyhow = { version = "1.0.68" }
async-stream = "0.3.3"
async-trait = "0.1.64"
axum = "0.6.4"
axum-server = "0.4.4"
chrono = { version = "0.4.19", features = [ "serde" ] }
clap = { version = "4.0", features = [ "derive" ] }
cli-batteries = { version = "0.4.0", features = [ "signals", "prometheus", "metered-allocator", "otlp" ] }
cognitoauth = { git = "https://github.com/lucdew/cognito-srp-auth.git" }
criterion = { version = "0.4", optional = true, features = [ "async_tokio" ] } # For `bench`
ethers = { version = "1.0.0", features = [ "ws", "ipc", "openssl", "abigen" ] }
eyre = "0.6"
futures = "0.3"
futures-util = { version = "^0.3" }
hex = "0.4.3"
hyper = { version = "^0.14.17", features = ["server", "tcp", "http1", "http2"] }
once_cell = "1.8"
oz-api = { path = "crates/oz-api", optional = true }
prometheus = "0.13.3" # We need upstream PR#465 to fix #272.
proptest = { version = "1.0", optional = true } # For `bench`
reqwest = { version = "0.11.14", features = ["json"] }
ruint = { version = "1.3", features = ["primitive-types", "sqlx"] }
semaphore = { git = "https://github.com/worldcoin/semaphore-rs", branch = "main", features = [ "depth_20" ] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.6", features = ["runtime-tokio-native-tls", "any", "postgres", "chrono"] }
tempfile = "3.3.0"
thiserror = "1.0"
tokio = { version = "1.17", features = ["signal", "macros", "rt", "sync", "time", "rt-multi-thread", "tracing", "test-util"] }
tracing = "0.1"
tracing-futures = "0.2"
url = "2.2"
# `ethers-rs` requires an older version of primitive-types.
# But `ruint` supports the latest version. So we need to override it.
# `cargo update --package primitive-types@0.12.1 --precise 0.11.1`

[dev-dependencies]
cli-batteries = { version = "0.4.0", features = ["mock-shutdown"] }
hex = "0.4.3"
hex-literal = "0.3"
postgres-docker-utils = { path = "crates/postgres-docker-utils" }
proptest = { version = "1.0" }
regex = { version = "1.7.1", features = ["std"] }
serial_test = { version = "1.0.0" }
tracing-subscriber = "0.3.11"
tracing-test = "0.2"

[build-dependencies]
cli-batteries = "0.4.0"

[profile.release]
panic = "abort"
overflow-checks = true
codegen-units = 1
lto = true
strip = true

[profile.dev]
panic = "abort"

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
